<!DOCTYPE html>
  {% load bootstrap3 staticfiles %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="author" content="{% block meta_author %}{% endblock %}" />
        <meta name="viewport" content="width=device-width" />
        {% bootstrap_css %}
        {% block css %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
    {% block body %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        {% bootstrap_messages %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block modals %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        {% bootstrap_javascript %}
        <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/backbone-tastypie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/backbone.marionette.min.js' %}"></script>
        {% block javascript %}{% endblock %}
    {% endblock body %}
    </body>
</html>
