{% extends "base.html" %}

{% block title %}{{ skilltree.name }}{% endblock %}

{% block content %}
    {% load bootstrap3 %}
    <h2>{{ skilltree.name }}</h2>
    <div class="pull-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#create_branch">
            {% bootstrap_icon "plus" %} Branch
        </button>
    </div>
    <div id="branch-nav"></div>
    <div id="branch-tabs"></div>
    <div id="branch-form"></div>
    <div id="skill-form"></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            Backbone.Tastypie.csrfToken = $("input[name=csrfmiddlewaretoken]").value;
            
            var SkillTree = new Backbone.Marionette.Application();
            
            var Skill = Backbone.Model.extend({
                defaults: function() {
                    return {
                        name: "Default"
                    };
                }
            });
            
            var SkillList = Backbone.Collection.extend({
                model: Skill,
                url: function() {
                    return '/api/v1/skill/';
                }
            });
            
            var SkillView = Backbone.Marionette.ItemView.extend({
                template: '#skill-template',
                onShow: function() {
                    $('[data-toggle="popover"]', this.el).popover({
                        trigger: 'hover',
                        placement: 'right',
                        html: true,
                        title: $('.skill_level', this.el).html(),
                        content: $('.skill_text', this.el).html()
                    });
                }
            });
            
            var Branch = Backbone.Model.extend({
                defaults: function() {
                    return {
                        name: "Default"
                    };
                }
            });
            
            var BranchList = Backbone.Collection.extend({
                model: Branch,
                url: '/api/v1/skill_tree_branch/'
            });
            
            var NoItemView = Backbone.Marionette.ItemView.extend({
                template: '#no-item-template'
            });
            
            var BranchNavView = Backbone.Marionette.ItemView.extend({
                template: '#branch-nav-template',
                tagName: "li",
                className: function() {
                    var classes = "nav-item";
                    if(this.model == SkillTree.branches.first()) {
                        classes += " active";
                    }
                    return classes;
                }
            });
            
            var BranchTabView = Backbone.Marionette.CompositeView.extend({
                template: '#branch-tab-template',
                tagName: "div",
                itemView: SkillView,
                className: function() {
                    var classes = "tab-pane";
                    if(this.model == SkillTree.branches.first()) {
                        classes += " active";
                    }
                    return classes;
                },
                id: function() {
                    return "branch-" + this.model.attributes.id;
                },
                initialize: function() {
                    this.collection = new SkillList();
                    this.collection.fetch({ data: $.param({ skill_tree_branch: this.model.attributes.id }) });
                },
                appendHtml: function(collectionView, itemView) {
                    collectionView.$el.append(itemView.el);
                },
                events: {
                    'submit': 'createSkill'
                },
                ui: {
                    name: '#id_skill-name',
                    point_req: '#id_skill-point_req',
                    other_req: '#id_skill-other_req',
                    pre_req: '#id_skill-pre_req'
                },
                createSkill: function(event) {
                    event.preventDefault();
                    $('#create_skill_' + this.model.attributes.id).modal('hide');
                    if(!parseInt(this.ui.point_req.val())) this.ui.point_req.val(0);
                    this.collection.create({
                        name: this.ui.name.val(),
                        skill_tree_branch: "/api/v1/skill_tree_branch/" + this.model.attributes.id + "/",
                        point_req: this.ui.point_req.val(),
                        other_req: this.ui.other_req.val(),
                        pre_req: "/api/v1/skill/" + this.ui.pre_req.val() + "/"
                    }, { wait: true });
                    this.ui.name.val('');
                    this.ui.point_req.val('');
                    this.ui.other_req.val('');
                    this.ui.pre_req.val('');
                }
            });
            
            var BranchesNavView = Backbone.Marionette.CollectionView.extend({
                itemView: BranchNavView,
                emptyView: NoItemView,
                tagName: "ul",
                className: "nav nav-tabs"
            });
            
            var BranchesTabView = Backbone.Marionette.CollectionView.extend({
                itemView: BranchTabView,
                emptyView: NoItemView,
                tagName: "div",
                className: "tab-content"
            });
            
            var BranchFormView = Backbone.Marionette.ItemView.extend({
                template: '#create-branch-form',
                events: {
                    'submit #branch_form': 'createBranch'
                },
                ui: {
                    name: '#id_branch-name',
                    skill_tree: '#id_branch-skill_tree'
                },
                createBranch: function(event) {
                    event.preventDefault();
                    $('#create_branch').modal('hide');
                    SkillTree.branches.create({
                        name: this.ui.name.val(),
                        skill_tree: "/api/v1/skill_tree/" + this.ui.skill_tree.val() + "/"
                    }, { wait: true });
                    this.ui.name.val('');
                }
            });
            
            SkillTree.addRegions({
                nav: '#branch-nav',
                tabs: '#branch-tabs',
                branch_form: '#branch-form'
            });
            
            SkillTree.addInitializer(function() {
                SkillTree.branches = new BranchList();
                SkillTree.branches.fetch();
                SkillTree.nav.show(new BranchesNavView({ collection: SkillTree.branches }));
                SkillTree.tabs.show(new BranchesTabView({ collection: SkillTree.branches }));
                SkillTree.branch_form.show(new BranchFormView({ collection: SkillTree.branches }));
            });
            
            SkillTree.start();
        });
    </script>
    
    <script type="text/template" id="no-item-template">&nbsp;</script>
    
    <script type="text/template" id="branch-nav-template">
        <a href="#branch-<%- id %>" data-toggle="tab"><%- name %></a>
    </script>
    
    <script type="text/template" id="branch-tab-template">
        Name: <%- name %>
        <button class="btn btn-primary" data-toggle="modal" data-target="#create_skill_<%- id %>">
            {% bootstrap_icon "plus" %} Skill
        </button>
        <div class="modal fade" id="create_skill_<%- id %>" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <form method="post" class="form" action="javascript:void(0)">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Skill</h4>
                        </div>
                        <div class="modal-body">
                            {% bootstrap_form skill_form %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="skill-template">
        <button type="button" class="btn btn-default" data-toggle="popover">
            Skill: <%- name %>
        </button>
        <% _.each(skill_levels, function(skill_level) { %>
            <div class="hidden skill_level">Level: <%- skill_level.level %> Cost: <%- skill_level.cost %></div>
            <div class="hidden skill_text"><% if (point_req) { %>Requires <%- point_req %> points<br/><% } %><% if (other_req) { %><%- other_req %><br/><% } %><%- skill_level.text %></div>
        <% }); %>
    </script>

    <script type="text/template" id="create-branch-form">
        <div class="modal fade" id="create_branch" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <form method="post" class="form" action="javascript:void(0)" id="branch_form">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Branch</h4>
                        </div>
                        <div class="modal-body">
                            {% bootstrap_form skill_tree_branch_form %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    
{% endblock %}
