{% extends "base.html" %}

{% block title %}{{ skilltree.name }}{% endblock %}

{% block content %}
    {% load bootstrap3 %}
    <h2>{{ skilltree.name }}</h2>
    <div class="pull-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#create_branch">
            {% bootstrap_icon "plus" %} Branch
        </button>
    </div>
    <div id="branch-nav">
        {% if skilltree.skilltreebranch_set %}
            <ul class="nav nav-tabs">
                {% for branch in skilltree.skilltreebranch_set.all %}
                    <li class="nav-item{% if forloop.first %} active{% endif %}">
                        <a href="#branch-{{ branch.id }}" data-toggle="tab">{{ branch }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div id="branch-tabs">
        {% if skilltree.skilltreebranch_set %}
            <div class="tab-content">
                {% for branch in skilltree.skilltreebranch_set.all %}
                    <div id="branch-{{ branch.id }}" class="tab-pane{% if forloop.first %} active{% endif %}">
                        <a class="btn btn-primary" href="{% url 'update_skill_tree_branch' branch.id %}">
                            {% bootstrap_icon "pencil" %}
                        </a>
                        <a class="btn btn-primary" href="{% url 'delete_skill_tree_branch' branch.id %}">
                            {% bootstrap_icon "trash" %}
                        </a>
                        <a class="btn btn-primary" href="{% url 'create_skill' branch.id %}">
                            {% bootstrap_icon "plus" %} Skill
                        </a>
                        {% for skill in branch.skill_set.all %}
                            <button type="button" class="btn btn-default" data-toggle="popover">
                                Skill: {{ skill }}
                            </button>
                            <a class="btn btn-default" href="{% url 'update_skill' skill.id %}">
                                {% bootstrap_icon "pencil" %}
                            </a>
                            <a class="btn btn-default" href="{% url 'delete_skill' skill.id %}">
                                {% bootstrap_icon "trash" %}
                            </a>
                            {% if skill.point_req %}
                                Requires: {{ skill.point_req }} points
                            {% endif %}
                            {% if skill.other_req %}
                                {{ skill.other_req }}
                            {% endif %}
                            {% for level in skill.skill_levels.all %}
                                Level: {{ level.level }} Cost: {{ level.cost }}
                                <a href="{% url 'update_skill_level' level.id %}">
                                    {% bootstrap_icon "pencil" %}
                                </a>
                                <a href="{% url 'delete_skill_level' level.id %}">
                                    {% bootstrap_icon "trash" %}
                                </a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    
{% endblock %}
